<form class="form-inline" method="post" action="/server">
  <div class="form-group">
    <label for="Sport">port</label>
    <input type="text" class="form-control" id="Sport" placeholder="5000" name="port">
  </div>
  <button type="submit" class="btn btn-default">wait for calling</button>
</form>

<form class="form-inline" method="post" action="/client">
  <div class="form-group">
    <label for="Cport">port</label>
    <input type="text" class="form-control" id="Cport" placeholder="5000" name="port">
  </div>
  <div class="form-group">
    <label for="ip">ip address</label>
    <input type="text" class="form-control" id="ip" placeholder="*.*.*.*" name="ip">
  </div>
  <button type="submit" class="btn btn-default" >call</button>
</form>