<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title><%= @title %> - g1g2g3-19A</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1><a href="/">g1g2g3-19A</a></h1>
		</div>
		<%= yield %>
	</div>
</body>
</html>